html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b2b2b;
  font-family: 'Roboto', sans-serif;
}

.navigation {
  background-color: #2b2b2b;
  color: white;
  height: 50px;
  animation-name: navigation;
  animation-duration: 2s
}

.navigation ul {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  height: 50px;
  text-align: right;
}

.navigation li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 100;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.navigation a:hover {
  color: #f27609;
}

.navigation li.threeline-icon {
  display: none;
}

.navigation li.threeline-icon:hover {
  color: #f27609;
  cursor: pointer;
}

/* CSS para a página inicial*/
.cover {
  color: white;
}

.cover span {
  color: #f27609;
  display: block;
}

.cover div {
  display: inline-block;
  height: 650px;
}

.profile-pic {
  width: 40%;
  text-align: center;
}

.profile-pic img {
  width: 320px;
  border-radius: 320px;
  margin-top: 100px;
  animation-name: profile-capa;
  animation-duration: 2s
}

.profile-title {
  vertical-align: top;
  width: 59%;
  text-transform: uppercase;
  animation-name: titulo-capa;
  animation-duration: 2s
}

.profile-title h1 {
  font-size: 58px;
  margin-top: 200px;
  font-weight: 400;
  line-height: 54px;
}

.profile-title h2 {
  font-size: 16px;
  font-weight: 100;
  margin-top: -26px;
}
/* CSS para a página de currículo*/

.main {
  padding: 80px 180px 80px 100px;
  animation-name: conteudo;
  animation-duration: 2s
}

.main h1 {
  color: white;
  font-weight: normal;
}

.main h2 {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 40px;
}

.main h3 {
  font-size: 12px;
  color: #f27609;
  text-transform: uppercase;
}

.main p {
  font-size: 18px;
  font-weight: 100;
  color: white;
  line-height: 24px;
  text-align: justify;
}

.cv-pic {
  float: right;
  width: 250px;
  margin-right: 20px
}

.path {
  list-style: none;
  padding-left: 0;
  color: gray;
}

.path a {
  color: gray;
}

.path li {
  display: inline-block;
}

.social-img {
  width: 50px;
  margin-right: 10px;
}

.miniatura {
  width: 320px;
  height: 320px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  background-size: contain;
  overflow: hidden;
}

.miniatura a {
  text-decoration: none;
}

.blackbox {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  padding-top: 120px;
  transition: 1s;
}

.blackbox:hover {
  opacity: 0.8;
  transition: 1s;
}

.blackbox-text {
  text-align: center;
}

.blackbox-text h1 {
  font-size: 16px;
  color: #f27609;
  text-transform: uppercase;
  margin-top: 0;
}

.blackbox-text h2 {
  text-transform: none;
  font-weight: 100;
  margin-top: 0;
}

.foto-trabalhos {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px
}

.back-link {
  color: #f27609;
}

@keyframes profile-capa {
  0% {
    opacity: 0;
    transform: translate(0px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes titulo-capa {
  0% {
    opacity: 0;
    transform: translate(0px, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes navigation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes conteudo {
  0% {
    opacity: 0;
    transform: translate(-20px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@media (max-width: 1000px) {
  .navigation li {
    display: none;
  }

  .navigation li.threeline-icon {
    display: inline-block;
  }

  .cover div {
    height: auto;
    display: block;
  }

  .profile-pic {
    width: 100%;
  }

  .profile-title {
    width: 100%;
    text-align: center;
  }

  .profile-pic img {
    margin-top: 0;
    max-width: 80%;
  }

  .profile-title h1 {
    margin-top: 10px;
    font-size: 35px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .profile-title h2 {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .main {
    padding: 10px 5% 40px 5%;
  }

  .main p {
    text-align: left;
    line-height: 40px;
  }

  .path li {
    font-size: 14px;
  }

  .cv-pic {
    float: none;
    max-width: 100%;
    margin-right: 0; 
  }

  .miniatura {
    max-width: 100%;
    background-size: auto 100%
  }

  .blackbox {
    opacity: 0.8;
  }

  .menujs {
    height: auto;
  }

  .menujs ul {
    height: auto;
    text-align: center;
    padding-right: 15%;
    padding-left: 15%; 
  }

  .menujs li {
    display: block;
    border-bottom: solid gray 1px;
    width: 100%;
    padding: 0
  }
}

.basic-chip {
  padding-top: 0px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 12px;
  border-radius: 50px;
  margin-top: 18px;
  margin-left: 10px;
  height: 22px;
}

.advanced-background {
  background: #0074c3;
  color: #ffffff;
}

.medium-background {
  background: #3a913f;
  color: #ffffff;
}

.basic-background {
  background: #dddddd;
  color: #616161;
}

.skill-item {
  display: flex;
  margin-bottom: -10px;
}